*
{
	margin: 0;
	padding: 0;
}

body
{
	margin: 0px;
	background-color: #FBF8EF;
	font-family: Impact, Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

#main
{
	margin: 3% 30%;
	width: 500px;
	height: 545px;
	background-color: wheat;
}

#header
{
	overflow: both;
}

#name_of_game
{
	width: 125px;
	height: 129px;
	background-color: #ECC400;
	
	color: white;
	font-size: 40px;
	line-height: 48px;
	
	border-radius: 15px;
	margin: 0px;
	margin-top: 10px;
	margin-left: 15px;

	
	float: left;
}
#info
{
	width: 300px;
	height: 135px;
	margin: 10px 30px;
	float: left;
}
#game_names
{
	padding: 15px;
	text-align: center;
}

#score
{
	margin: 0;
	float: left;
	overflow: both;
}

#score div
{
	width: 120px;
	height: 70px;
	background-color: #BAAEA0;
	
	font-size: 14pt;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #EEE0D3;
	text-align: center;
	
	border-radius: 15px;
	padding: 5px;
	
	float: left;
	margin: 0 10px;
}


#score p
{
	color: white;
	font-size: 40px;
}
#button
{
	clear: both;
	margin: 0px 25%;
}
#button button
{
	width: 150px;
	padding: 10px;
	margin: 10px;
	
	background-color: #ED995B;
	border: none;
	border-radius: 10px;
	
	color: white;
	font-size: 14pt;
	font-family: Arial, sans-serif;
	font-weight: bold;
	
	outline: none;
}

#button button:hover
{
	background-color: #D15D0A;
}

#game{
	height: 365px;
	width: 365px;
	clear: both;
	margin: 10px auto;
}

#canvas
{
	margin: 10px 0px;
	background-color: #E1E0D3;
	border-radius: 10px;
}